# This is a configuration file for ProGuard.
# http://proguard.sourceforge.net/index.html#manual/usage.html

-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-verbose

-printseeds seeds.txt
-printusage unused.txt
-printmapping mapping.txt

-dontwarn org.apache.**
-dontwarn org.joda.convert.**
-dontwarn org.joda.time.tz.ZoneInfoCompiler
-dontwarn com.braintreepayments.api.threedsecure.ThreeDSecureWebView
-dontwarn com.braintreepayments.cardform.view.CardForm
-dontwarn okio.**
-dontwarn okhttp3.**
-dontwarn com.google.common.**
-dontwarn com.google.android.gms.**
-dontwarn com.google.firebase.**
-dontwarn com.paypal.android.sdk.**
-dontwarn org.acra.**

# Preventing obfuscating of receiptapp during debug
-keep class com.receiptofi.receiptapp.** {
    public protected private *;
}
-keepattributes LocalVariableTable,LocalVariableTypeTable

-keep class in.srain.cube.** {
    public protected private *;
}

-keep class com.joanzapata.** { *; }
-keep class okhttp3.** { *; }
-keep class com.google.android.gms.** { *; }
-keep class com.google.firebase.** { *; }

# -keep class com.receiptofi.receipts.sample.BuildConfig { *; }
# -keep class com.receiptofi.receipts.sample.model.User { *; }