# This is a configuration file for ProGuard.
# http://proguard.sourceforge.net/index.html#manual/usage.html

-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-verbose

-printseeds seeds.txt
-printusage unused.txt
-printmapping mapping.txt

-dontwarn org.apache.**
-dontwarn org.joda.convert.**
-dontwarn org.joda.time.tz.ZoneInfoCompiler
-dontwarn com.braintreepayments.api.threedsecure.ThreeDSecureWebView
-dontwarn com.braintreepayments.cardform.view.CardForm
-dontwarn okio.**

# Preventing obfuscating of checkout during debug
-keep class com.receiptofi.checkout.** {
    public protected private *;
}
-keepattributes LocalVariableTable,LocalVariableTypeTable

-keep class in.srain.cube.** {
    public protected private *;
}

-dontwarn com.squareup.okhttp.**

# -keep class com.receiptofi.checkout.sample.BuildConfig { *; }
# -keep class com.receiptofi.checkout.sample.model.User { *; }