# This is a configuration file for ProGuard.
# http://proguard.sourceforge.net/index.html#manual/usage.html

-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-verbose

-printseeds seeds.txt
-printusage unused.txt
-printmapping mapping.txt

-dontwarn org.apache.**
-dontwarn org.joda.convert.**
-dontwarn org.joda.time.tz.ZoneInfoCompiler

# -keep class com.receiptofi.checkout.sample.BuildConfig { *; }
# -keep class com.receiptofi.checkout.sample.model.User { *; }