<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.receiptofi.checkout" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.TIMEZONE_CHANGED"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ReceiptofiApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
        tools:replace="android:icon,android:theme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Required to use Drop-In -->
        <activity android:name="com.braintreepayments.api.dropin.BraintreePaymentActivity" />
        <activity
            android:name=".LaunchActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:label="@string/label_log_in"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/label_log_in" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/label_sign_up"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".PasswordRecoveryActivity"
            android:label="@string/label_password_recovery"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ReceiptListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainMaterialDrawerActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".FilterListActivity" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.receiptofi.checkout.MainMaterialDrawerActivity" />
        </activity>
        <activity
            android:name=".FilterListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".MainMaterialDrawerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.receiptofi.checkout.MainMaterialDrawerActivity" />
        </activity>

        <receiver android:name=".receivers.NetworkConnectivityReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" />
        <activity
            android:name=".MainMaterialDrawerActivity"
            android:label="@string/title_activity_main_page"
            android:theme="@style/KitkatStatusBar" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".FilterListActivity" />
        </activity>
        <activity
            android:name=".SubscribeActivity"
            android:label="@string/title_activity_subscribe"
            android:parentActivityName=".MainMaterialDrawerActivity" >
        </activity>
        <activity
            android:name=".SubscribeConfirmationActivity"
            android:label="@string/title_activity_subscribe_confirmation"
            android:parentActivityName=".SubscribeActivity">
        </activity>
    </application>

</manifest>
